<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <title>体重腰围</title>

</head>

<body>
<!--头部开始-->
<!-- <div class="clite-head">
  <div class="clite-head-back">
    <img src="../source/img/btn-back.png" class="clite-back-img">
  </div>
  我的健康档案
  <div class="clite-head-right" onclick="window.location.href='weight-list.html'">榜单</div>
</div> -->
<!--头部结束-->
<!--体重BMI腰围开始-->

<div class="weight-margin16">
    <div class="row weight-bmi">
 

        <div class="col-xs-8 weight-padding0 weight-zindex1" style="width:68%">
            <div class="f">
                <div class="zhezhao" id="zhezhao"></div>
                <!--<canvas id="canvas" width="146" height="146" style="background-color: #adf3ea"></canvas>-->
                <div id="canvas"></div>
                <div class="zhongxin">
                    <div class="todayTime">
                        <span id="todayTime">3月20</span>体重
                    </div>
                    <ul class="weightUnit">
                        <li id="todayWeight" class="myweight">
                            0
                        </li>
                        <li id="unit">
                            公斤
                        </li>
                    </ul>

                </div>

                <div id="quanLook" style="transform: rotate(0deg)">
                    <div id="quanLook0" class="quan" style="transform: rotate(60deg);">
                        <span class="timeBox"></span>
                    </div>
                    <div id="quanLook1" class="quan" style="transform: rotate(120deg);">
                        <span class="timeBox"></span>
                    </div>
                    <div id="quanLook2" class="quan" style="transform: rotate(180deg);">
                        <span class="timeBox"></span>
                    </div>
                    <div id="quanLook3" class="quan" style="transform: rotate(240deg);">
                        <span class="timeBox"></span>
                    </div>
                    <div id="quanLook4" class="quan" style="transform: rotate(300deg);">
                        <span class="timeBox"></span>
                    </div>
                    <div id="quanLook5" class="quan" style="transform: rotate(360deg);">
                        <span class="timeBox"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!--体重BMI腰围结束-->

<!-- 我的标准数据详情开始 -->




</body>

</html>
