<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <title></title>
   
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,Chrome=1'>
  <style>

  </style>
  
  </head>

  <body >
  <!-- anything open -->
    <div class="container-fluid" id="container">
      <!-- 导航 -->
      <nav class="navbar navbarSelf ">
        <div class="container-fluid view-width">
        
          <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav " id="navRight">
              <li>
                <a href="#headerBackGroud" class="navActive">
                              首页
                          </a>
              </li>
     
              <li>
                <a href="#aboutUs">
                              工作经历
                          </a>
              </li>
              <li>
                <a href="#jionUs">
                              技能／项目
                          </a>
              </li>
              <li>
                <a href="#ContactUs">
                              联系我
                          </a>
              </li>
            </ul>

          </div>
        </div>
      </nav>
      <!-------------- nav end -------------->

  
      <!------------------------- special end------------------------>

      <!--  -->

      <div class="container section">
        

        <div class="row comeOn skill">
          <div class="cl-xs-12">
            <ul>
              <li>
                <span></span>javaScript基础非常扎实，熟悉es6（工作中已使用）
              </li>
              <li>
                <span></span>熟练掌握DOM、BOM编程，掌握Ajax，熟悉HTML5新增标签、Canvas等；能对浏览器兼容性进行
               </li>
              <li>
                <span></span>娴熟运用jQuery，并对jQuery(1.7.2)源码进行过研究，了解其内部原理，同时了解其相关插件，可以编写简单jQuery插件，并在项目中使用过。
              </li>
              <li><span></span>熟练Bootstrap2框架，掌握响应式网站开发。</li>
              <li><span></span>熟练使用react＋readx＋webpack+sass开发项目。熟悉vue.js。</li>
              <li><span></span>了解java、node.js等后台编程语言（并在实践中用过node）。</li>
              <li><span></span>熟悉Tcp/Ip协议</li>
              <li><span></span>能用karma做测试</li>
              <li><span></span>工作中的文件管理形式git </li>
              <li><span></span>以最优方式编写js代码，遵守公司代码规范，编写高质量代码</li>
              <li><span></span>能阅读英文网站及原文资料，读写听OK，口语发音一般</li>
            </ul>
          </div>
        </div> 
        <!-----------------------end--------------------->

        <!-- 产品展示动画 -->
      
        <!------------------------- products introduction end------------------------>

  
        <!--  -->
        <div class="row comeOn products" id="jionUs">
          <div class="col-xs-12">
            <div class="public-title">技能／主要项目</div>
          </div>
          
          <div class="col-xs-12 " >
            <div class="jion-us-title">
                <span> 《健康生活助手》 </span>
                <b >
                    <i></i> 
                    <span class="hidden-xs">展开详情</span>
                </b>
            </div>
            <div id="show0" class="showClickContent well">
              <h4>描述</h4>
              <ul>
                <li>基于微信端开发，可兼容移动端。</li>
                <li>主要框架 react+webpack+redux ;主要使用es6，部分是es5书写js</li>
                <li>请在微信端打开该链接<a>http://camp.liver-cloud.com/platform/Web/dist/index.html#!/</a></li>
                <li>其中包括多个模块，记录腰围体重，挑战卡路里，我的医生，我是医生，生活中的重要小事；功能强大，共计30个功能页面；结构复杂</li>
              </ul>
              <h4>任职</h4>
              <ul>
                <li> 1.主要负责人；框架搭建，与后台沟通</li>
                <li> 2.书写大部分代码，及其主要的插件</li>
                <li> 3.开发时间2016/01~2017/01;产品进行修改3次，迭代3次，添加模块，删除模块，更换框架；等原因中断和重新开放</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 " >
            <div class="jion-us-title">
              <span>《boss福利》</span>
              <b>
                  <i></i> 
                  <span class="hidden-xs">展开详情</span>
              </b>
            </div>
            <div id="show1" class="showClickContent well">
              <h4>描述</h4>
              <ul>
                <li>1.基于微信端开发，可兼容移动端。</li>
                <li>2.主要框架 vue+webpack ;主要使用es6，部分是es5书写js</li>
                <li>3.请在微信端搜索“福瑞医云健康”公众号中打开查看</li>
             </ul>
              <h4>任职</h4>
               <ul>
                <li> 1.主要次要负责人；</li>
                <li> 2.书写部分代码</li>
                <li> 3.开发时间2016/06/～2016/06</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 " >
            <div class="jion-us-title">
              <span>《掰手腕》</span>
              <b>
                <i></i> 
                <span class="hidden-xs">展开详情</span>
              </b>
            </div>
            <div id="show2" class="showClickContent well">
              <h4>描述</h4>
              <ul>
                <li>1.基于微信端开发，可兼容移动端。</li>
                <li>2.jquery+gulp；主要是用es5</li>
                <li>3.请在微信端搜索“福瑞医云健康”公众号中打开查看</li>
              </ul>
              <h4>任职</h4>
              <ul>
                <li> 全权负责人 </li>
                <li>
                  项目的搭建书写，页面优化，后台接口沟通
                </li>
                <li> 开发时间2016/05/～2016/05</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 " >
            <div class="jion-us-title">
              <span>《apasl官网》</span>
              <b>
                <i></i> 
                <span class="hidden-xs">展开详情</span>
              </b>
            </div>
            <div id="show3" class="showClickContent well">
              <h4>描述</h4>
              <ul>
                <li> 基于pc端开发，可兼容到ie8。</li>
                <li> jquery+bootstrap；主要是用es5</li>
                <li> 2017年后更换了内容</li>
              </ul>
              <h4>任职</h4>
              <ul>
                <li> 负责人之一；</li>
                <li>
                  是一个外包项目；2015/06～2015/07
                </li>
              </ul>
            </div>
          </div>
       
        </div>
        <!-------------------------jion us end ------------------------>

  

        <!-- 联系我 -->
        <div class="ContactUs row products" id="ContactUs">
        
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">联系我</div>
            <ul>
              <li>性别：女  年龄： 27</li>
              <li>学历：本科（统招）</li>
              <li>工作经验：3年</li>
              <li>地址：北京西城区太平桥大街98号中海凯旋</li>
              <li>网址：<a href="www.lalaland.tech">www.lalaland.tech</a></li>
              <li>邮箱：lv1464562713@163.com / 1464562713@qq.com</li>
              <li>电话：15201655502</li>
              <li>毕业学校：牡丹江师范学院</li>
              <li>现在工资：8500 期望工资：1万</li>
            </ul>
          </div>
        </div>

        <!-------------------------contact us end ------------------------>

      
        <!-- 关于我 -->
        <div class="row aboutUs products" id="aboutUs">
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">个人工作经历</div>
            <p class="p">
              2015/10～        北京福瑞医云健康管理有限公司  （医疗）     前端
            </p>
            <p class="p">
              2015/5～2015/10  中数博阳信息科技有限公司      （外包）     前端 
            </p>
            <p class="p">
              2014/5～2015/5   北京百灵威科技有限公司        （化学品）   美工
            </p>
          </div>
    
        </div>
        <!-------------------------about us end ------------------------>

        <div class="row aboutUs " >
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">个人评价</div>
            <p>
              1、做事认真负责，为人实在，知错能改并能举一反三。
              2、自学能力强，自我解决问题强。
现在对自己的要求:每天都要有进步，今天的代码一定要和昨天不一样，对js编程有这浓厚的兴趣，由于不是本专业毕业，并想长远的发展，所以每天都在学习有关前后端方面的知识，同时也在恶补计算机方面的课程。带着学以致用的心态。
            </p>
          </div>
    
        </div>

        <div class="row aboutUs " >
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">学习过的书籍</div>
            <p>
              《高级javascript》
              《javascript高级程序设计3》
              《javascript权威指南第6版》
              《node.js开发指南》
              《html&css深入浅出》
              《TCP-IP详解》
              《算法与数据结构》
            </p>
          </div>
    
        </div>

        <div class="row aboutUs " >
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">自学习过的计算机相关课程</div>
            <p>
              《计算导论与c语言基础》
              《操作系s统原理》
              《计算机组成 》
              《算法与数据结构》
            </p>
          </div>
    
        </div>

        <div class="row aboutUs " >
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">荣誉证书</div>
            <p>
              CET-4证书、
              国家二级计算机证书、
              校级PPT大赛优秀奖、
              国家奖学金
            </p>
          </div>
    
        </div>

        <div class="row aboutUs " >
          <div class="col-sm-12 col-xs-12">
            <div class="public-title">业余爱好</div>
            <p>
              tv游戏、骑行、旅游、看电影；
            </p>
          </div>
    
        </div>
      </div>
      <!-------------------------  end ------------------------>

    </div>


  </body>

</html>
